*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .about-us{
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #ddd;
  }
  body {
    background-image: url('WhatsApp Image 2023-04-07 at 6.36.03 PM.jpeg');
    background-size: cover;
  }
  .pic{
    height: auto;
    width:  302px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
  
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    color: #4070f4;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data{
    margin-top: 30px;
  }
  .hire{
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .hire:hover{
    background: #000;
    border: 1px solid #4070f4;
  }
  .nav-container {
    background-color: #fff;
    border-bottom: 1px solid #22722F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 10px;
    color: #22722F;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #22722F;
    color: #fff;
}
